.main-text-editor-container {
    width: 100%;
    height: 100%;
}

.main-text-editor {
    /* COLOR FOR TESTING ONLY */
    background-color: var(--offwhite);
    color: black;
    height: 100%;
    width: 100%;
}
