div.sidebar-container {
    /* TODO: Test out some of these layouts as well */
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around; */
   
    background-color: var(--lightgrey);
    color: black;
    filter: drop-shadow(1px 0px 5px #606060);
    height: 100%;
    margin: 0px 0px;
    max-width: 150px;
    opacity: 60%;
    width: 100%;
    word-wrap: break-word;
}

div.sidebar-button-container {
    border-color: grey;
    border-width: 1px;
    cursor: pointer;
    /* TODO: Want to have this adjust based on viewport size. */
    padding: 20px 10px;
    text-align: center;
}

div.hide-sidebar-toggle-container {
    border-color: grey;
    border-width: 1px;
    cursor: pointer;
    font-size: 12px;
    /* TODO: Want to have this adjust based on viewport size. */
    padding: 5px 5px;
    text-align: center;
}

button.sidebar-button {
    cursor: inherit;
}

button#hide-sidebar-toggle {
    cursor: inherit;
}