/* CSS global variables */
:root {
    --offwhite: #ededed;
    --white: #ffffff;
    --skyblue: #87ceeb;
    --lightgrey: #dbdbdb;
}

div.app-container {
    display: grid;
    /* FOR TESTING ONLY */
    background-color: lightcoral;
}

div.sidebar-area {
    grid-area: 1 / 1;
    width: 100%;
    min-width: 100px;
    /* FOR TESTING ONLY */
    background-color: var(--skyblue);
}

div.main-text-editor-area {
    /**
     Changing this to 1 / 2 / 1 / 1 spans the entire app-container,
     even underneath the sidebar-area.
    **/
    grid-area: 1 / 2 / 1 / 15;
    background-color: var(--offwhite);
    width: 100%;
    height: 100%;
}