/* CSS global variables */
:root {
    --lightgrey: #dbdbdb;
    --offwhite: #ededed;
    --skyblue: #87ceeb;
    --white: #ffffff;
}

div.app-container {
    /* COLOR FOR TESTING ONLY */
    background-color: white;
    display: grid;
}

div.sidebar-area {
    /* COLOR FOR TESTING ONLY */
    background-color: var(--skyblue);
    grid-area: 1 / 1;
    min-width: 100px;
    width: 100%;
}

div.main-text-editor-area {
    background-color: var(--offwhite);
    /**
     Changing this to 1 / 2 / 1 / 1 spans the entire app-container,
     even underneath the sidebar-area.
    **/
    grid-area: 1 / 2 / 1 / 15;
    height: 100%;
    width: 100%;
}